<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uestcpg.doctor">

    <!-- Min/target SDK versions (<uses-sdk>) managed by build.gradle -->

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:name=".app.BaseApplication"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".NewBlueTooth.DeviceScanActivity">

        </activity>
        <activity android:name=".activitys.start.LoginActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
        <activity android:name=".activitys.start.RegisterActivity">
        </activity>
        <activity android:name=".activitys.main.MainActivity"/>
        <activity android:name=".activitys.main.SickInfoActivity"/>
        <activity android:name=".fragments.tab.MeFragmentChange"/>
        <activity android:name=".activitys.main.OrderActivity"/>
        <activity android:name=".activitys.main.SickRecordActivity"/>
        <activity android:name=".activitys.main.PhotoViewActivity"/>
        <activity android:name=".activitys.main.ReservationInfoActivity"/>
        <activity android:name=".activitys.main.TreatmentActivity"/>
        <activity android:name=".Bluetooth.BlueMainActivity"
            android:theme="@style/BlueToothStyle"/>
        <activity android:name=".Bluetooth.DeviceListActivity"/>
        <activity android:name=".activitys.see_how.LaunchActivity"/>
        <activity android:name=".activitys.main.ConversationActivity">

            <activity
                android:name=".DeviceListActivity"
                android:configChanges="orientation|keyboardHidden"
                android:label="@string/select_device"
                android:theme="@android:style/Theme.Holo.Dialog"/>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="com.uestcpg.doctor"
                    android:pathPrefix="/conversation/"
                    android:scheme="rong" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activitys.main.SubConversationListActivtiy"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.uestcpg.doctor"
                    android:pathPrefix="/subconversationlist"
                    android:scheme="rong" />
            </intent-filter>
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.uestcpg.doctor.FileProvider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/rc_file_path"/>
        </provider>
    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>